* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: rgba(214, 232, 222, 0.774);
  overflow-x: hidden;
  margin: 1px;
  letter-spacing: 1px;
}
nav {
  display: flex;
  margin: 10px;
  padding: 1.5em;
  border: 1px solid rgba(145, 181, 160, 0.774);
  border-radius: 25px;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "ABeeZee", sans-serif;
  background-color: rgba(161, 202, 178, 0.774);
  box-shadow: 0px 2px 3px 0px rgba(135, 156, 146, 0.7);
}
.logo img {
  width: 4%;
  cursor: pointer;
  position: fixed;
  display: grid;
  grid-row-start: auto;
  top: 3%;
  bottom: 90%;
  right: 90%;
}
.logo h4 img:hover {
  color-scheme: #fff;
  opacity: 0.7;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
  padding: 1em, 2em;
  border-radius: 50em;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.nav-links a:hover,
.nav-links a:focus {
  color: rgb(255, 255, 255);
}
.nav-links a {
  color: rgba(35, 39, 41, 0.719);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.3s;
  display: block;
  border: 1px solid;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin: 0.25em;
  box-shadow: 10px 6px 10px 4px rgba(35, 37, 36, 0.378);
}
.lines {
  cursor: pointer;
}
.lines div {
  width: 25px;
  height: 3px;
  background-color: rgba(35, 39, 41, 0.719);
  margin: 5px;
  transition: all 0.3s ease;
  opacity: 1;
}
.lines:hover {
  opacity: 0.8;
}
.content {
  background: url(images/cover.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 45%;
  left: 50%;
  height: 350px;
  width: 800px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  box-shadow: 10px 6px 10px 4px rgba(35, 37, 36, 0.307);
  font-size: 50px;
  white-space: nowrap;
  overflow: visible;
  border-radius: 15px;
  padding: 5px;
  animation: change 20s infinite ease-in-out;
}
main {
  font-family: "ABeeZee", sans-serif;
  font-size: 1em;
  line-height: 1.9em;
  color: rgb(48, 65, 59);
  margin: 28.5%;
  text-align: center;
}
main .story {
  background-color: rgb(174, 195, 183);
  content: none;
  top: 110px;
  right: 1100px;
  left: 86px;
  font-family: "ABeeZee", sans-serif;
  font-size: 1.2em;
  border: double 4px #eaddc4;
  border-radius: 25px;
  width: 25em;
  margin: 3%;
  line-height: 2.1em;
  padding: 1.8em;
}
main .box {
  font-family: "ABeeZee", sans-serif;
  background-color: rgba(161, 202, 178, 0.774);
  box-shadow: 10px 6px 10px 4px rgba(35, 37, 36, 0.214);
  display: grid;
  position: absolute;
  grid-template-columns: 50% 50%;
  width: 900px;
  align-items: center;
  left: auto;
  border-radius: 25px;
  margin-left: -8%;
}
main .box-time {
  font-family: "ABeeZee", sans-serif;
  padding: 10px;
  border: 3px dashed #b69861;
  border-radius: 25px;
  text-align: center;
  margin: 60px;
}
main .heading {
  font-family: "ABeeZee", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}
main .heading-days {
  color: #b69861;
  font-size: 22px;
}
.heading-phone {
  margin-top: 10px;
  font-size: 18px;
}
main .box-form {
  width: 370px;
  padding: 20px 0;
  margin: 0 auto;
  color: rgb(53, 53, 53);
}
form p {
  font-weight: 600;
}
form {
  display: grid;
  grid-row-gap: 20px;
}
.form-field {
  display: flex;
  justify-content: space-between;
}
.form-field span {
  display: grid;
  position: absolute;
  right: 45px;
  font-size: 11px;
  margin-top: 28px;
  color: rgb(255, 0, 0);
}
#btn-error {
  color: red;
  font-size: 13px;
}
input,
select {
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: 5px 3px 5px 2px rgba(35, 37, 36, 0.174);
  border: 0;
}
.btn {
  background-color: rgb(56 109 79 / 77%);
  color: #fff;
  padding: 10px 20px;
  border: 0;
  font-size: 16px;
  border-radius: 100px;
  width: 180px;
  cursor: pointer;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  margin-left: 27%;
  box-shadow: 5px 3px 5px 2px rgba(35, 37, 36, 0.174);
}
.btn:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  box-shadow: 10px 5px 10px 4px rgba(35, 37, 36, 0.174);
}
footer {
  position: absolute;
  width: 100%;
  text-decoration: none;
  font-family: "ABeeZee", sans-serif;
  background-color: rgba(161, 202, 178, 0.774);
  padding: 20px;
  box-shadow: 10px 6px 10px 4px rgb(35, 37, 36);
  bottom: -480px;
}
.wrapping {
  top: 580px;
  position: relative;
  display: inline-flex;
}
.wrapping .icon {
  margin: 2px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapping .icon img {
  position: relative;
  height: 30px;
  width: 30px;
  display: block;
  background: rgba(161, 202, 178, 0.774);
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0, 1);
  box-shadow: 10px 6px 10px 4px rgba(134, 134, 134, 0.259);
}
.wrapping .icon:hover img {
  color: #ffff;
}
.wrapping .icon .tooltip {
  position: absolute;
  top: 0px;
  background: #fff;
  color: #fff;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0, 1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapping .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.wrapping .icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}
.wrapping .icon:hover img,
.wrapping .icon:hover .tooltip {
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0, 4);
}
.wrapping .facebook:hover img,
.wrapping .facebook:hover .tooltip,
.wrapping .facebook:hover .tooltip:before {
  background: #3b5999;
}
.wrapping .twitter:hover img,
.wrapping .twitter:hover .tooltip,
.wrapping .twitter:hover .tooltip:before {
  background: #46c1f6;
}
.wrapping .instagram:hover img,
.wrapping .instagram:hover .tooltip,
.wrapping .instagram:hover .tooltip:before {
  background: #e1306c;
}
.wrapping .linkedin:hover img,
.wrapping .linkedin:hover .tooltip,
.wrapping .linkedin:hover .tooltip:before {
  background: #0072b1;
}
@media screen and (max-width: 2048px) {
  .lines {
    display: none;
  }
  .nav-links {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  #container {
    justify-content: space-between;
  }
  main .content {
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-out;
  }
  main .box {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 340px;
    font-size: 11px;
  }
  main .box-time {
    width: 92%;
    height: 85%;
    padding: 20px;
    margin: 14px;
    font-size: 15px;
  }
  main .box-form {
    width: 98%;
    padding: 0;
    margin: 0;
  }
  .logo img {
    width: 14%;
    position: fixed;
    left: 11%;
    transition: all 0.3s ease-out;
    z-index: 2;
  }
  .nav-links {
    position: absolute;
    opacity: 6;
    height: 77vh;
    top: 12.2vh;
    margin: 10px;
    padding: 1.5em;
    border: 1px solid rgba(145, 181, 160, 0.774);
    border-radius: 25px;
    background-color: rgb(161, 202, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.2s ease-in;
    z-index: 2;
  }
  .nav-links li {
    opacity: 0;
  }
  .lines {
    display: block;
    margin-left: 60%;
  }
  main {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -84px;
    width: 95%;
    height: 260px;
    padding: 130px;
    justify-content: center;
  }
  footer {
    position: absolute;
    width: 100%;
    top: 203%;
    height: 7%;
    text-align: center;
    font-size: 11px;
  }
  button.btn {
    margin-left: 65px;
  }
  .wrapping {
    margin-top: 790px;
    display: inline-flex;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
@keyframes change {
  0% {
    background-image: url(images/restaurant2.jpg);
  }
  20% {
    background-image: url(images/restaurant1.jpg);
  }
  40% {
    background-image: url(images/restaurant3.jpg);
  }
  60% {
    background-image: url(images/restaurant4.jpg);
  }
  80% {
    background-image: url(images/restaurant5.jpg);
  }
  100% {
    background-image: url(images/restaurant6.jpg);
  }
}
